{:paths ["src" "resources"]

 :deps {org.clojure/data.xml     {:mvn/version "0.2.0-alpha6"}
        tolitius/xml-in          {:mvn/version "0.1.1"}
        io.replikativ/datahike   {:mvn/version "0.4.1484"}
        clj-python/libpython-clj {:mvn/version "2.018"}}

 :aliases {:uberjar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                     :ns-default hf.depstar
                     :exec-fn    uberjar
                     :exec-args  {:main-class core
                                  :sync-pom   false
                                  :aot        true}}}}
